// Base styles
@use "variables" as *;
@use "mixins" as *;

// Font declarations
@font-face {
  font-family: "Baghdad";
  src: url("../assets/fonts/Baghdad.ttc") format("truetype-collection");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DG Forsha Scribble";
  src: url("../assets/fonts/dg-forsha-scribble.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FF Wahm Two";
  src: url("../assets/fonts/ff-wahm-two.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Waseem";
  src: url("../assets/fonts/Waseem.ttc") format("truetype-collection");
  font-weight: normal;
  font-style: normal;
}

// El Messiri font family
@font-face {
  font-family: "El Messiri";
  src: url("../assets/fonts/El_Messiri/ElMessiri-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 700;
  font-style: normal;
}

@font-face {
  font-family: "El Messiri";
  src: url("../assets/fonts/El_Messiri/static/ElMessiri-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "El Messiri";
  src: url("../assets/fonts/El_Messiri/static/ElMessiri-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "El Messiri";
  src: url("../assets/fonts/El_Messiri/static/ElMessiri-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "El Messiri";
  src: url("../assets/fonts/El_Messiri/static/ElMessiri-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Tajawal font family
@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: $font-primary;
  overflow-x: hidden;
  background: $primary-bg;
  color: $primary-text;

  background-image: url("../assets/scenes/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.scene {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  padding: 0;
  text-align: center;
}

.layer {
  @include layer-base;

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
  }
}

.primary-text {
  color: $primary-text;
}

.secondary-text {
  color: $secondary-text;
}
