// Mixins
@mixin layer-base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin parallax-layer(
  $z-index,
  $opacity: 0,
  $translateX: 0,
  $translateY: 50vh,
  $rotate: 0deg
) {
  z-index: $z-index;
  opacity: $opacity;
  transform: translateX($translateX) translateY($translateY) rotate($rotate);
}

@mixin scene-base {
  position: relative;
  overflow: hidden;
}
