// Scene 2 styles
@use "variables" as *;
@use "mixins" as *;

.scene2 {
  @include scene-base;

  .layer-smoke {
    z-index: $z-background;
  }

  .layer-bg {
    z-index: $z-background;
    background-image: url("../assets/scenes/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .layer-smoke {
    @include parallax-layer($z-background, 0.2, 0, -100vh);
    width: 120%;
    height: 100%;
    left: -20%;
  }

  .layer-right-wall,
  .layer-gate {
    @include parallax-layer($z-right-wall, 0.2, 35vw, 0);
  }

  .layer-left-wall {
    @include parallax-layer($z-left-wall, 0.2, -55vw, 0);
  }

  .layer-sun {
    @include parallax-layer($z-layers, 1, 0, -30vh);
  }

  .layer-truck {
    scale: 0.3;
  }

  .layer-text {
    @include parallax-layer($z-right-wall, 0, 0, 15%);
    position: absolute;
    right: 10%;
    bottom: 25%;

    color: $primary-text;
    text-align: right;
    font-family: "DG Forsha Scribble", "Waseem", "Baghdad", Arial, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
  }

  .truck-1 {
    @include parallax-layer($z-truck-wall, 1, 0, 0);
  }

  .truck-2 {
    @include parallax-layer($z-truck-wall, 1, 0, 0);
  }

  .truck-3 {
    @include parallax-layer($z-truck-wall, 1, 0, 0);
  }

  .truck-4 {
    @include parallax-layer($z-truck-wall, 1, 0, 0);
  }

  .truck-5 {
    @include parallax-layer($z-truck-wall, 1, 0, 0);
  }

  .truck-6 {
    @include parallax-layer($z-truck-wall, 1, 0, 0);
  }

  .truck-path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: auto;
  }
}

.scene2-1 {
  @include scene-base;

  .layer-bg {
    z-index: $z-background;
    background-image: url("../assets/scenes/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .layer-text {
    @include parallax-layer($z-right-wall, 0, 0, 0);

    .text-1 {
      direction: rtl;
      color: $secondary-text;
      padding: 3% 5% 0 5%;
      text-align: justify;
      font-family: "DG Forsha Scribble";
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 38px;
    }

    .video-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 5%;
      gap: 5%;

      .video {
        min-width: 60%;
        height: 40%;

        .video-frame {
          position: relative;
          display: inline-block;

          video {
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
          }

          .frame-overlay {
            object-fit: contain;
            pointer-events: none;
            z-index: 10;
            width: 125%;
            height: 125%;
            position: absolute;
            top: -12%;
            left: -18%;
          }
        }
      }
    }

    .text-1,
    .text-2,
    .text-3,
    .video {
      opacity: 0;
      transform: translateY(15%);
    }

    .text-3 {
      margin-top: 20%;
    }

    .text-2,
    .text-3 {
      direction: rtl;
      color: $primary-text;
      text-align: justify;
      font-family: "DG Forsha Scribble";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }
}

.scene2-2 {
  @include scene-base;

  .layer-bg {
    z-index: $z-background;
    background-image: url("../assets/scenes/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .centered-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: $z-layers;

    .video-frame {
      position: relative;
      display: inline-block;
      max-width: 60%;

      video {
        width: 100%;
        height: auto;
        display: block;
      }

      .frame-overlay {
        object-fit: contain;
        pointer-events: none;
        z-index: 10;
        width: 125%;
        height: 125%;
        position: absolute;
        top: -12%;
        left: -18%;
      }
    }
  }
}

.scene2-3 {
  @include scene-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .layer-bg {
    z-index: $z-background;
    background-image: url("../assets/scenes/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .layer-text {
    @include parallax-layer($z-layers, 0, 0, -100vh);
    direction: rtl;
    color: $secondary-text;
    text-align: center;
    font-family: "DG Forsha Scribble";
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    .number {
      color: $secondary-text;
      text-align: center;
      font-family: "DG Forsha Scribble";
      font-size: 400px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .text {
      color: $secondary-text;
      text-align: center;
      font-family: "DG Forsha Scribble";
      font-size: 200px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transform: translate(0px, -13%);
      display: inline-block;
    }
  }

  .layer-text-2 {
    @include parallax-layer($z-layers, 0, 0, 100vh);
    direction: rtl;
    position: absolute;
    bottom: 20%;
    color: #fff;
    text-align: center;
    font-family: "DG Forsha Scribble";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
  }
}
