// Scene 5 styles
@use "variables" as *;
@use "mixins" as *;

.scene6 {
  @include scene-base;

  .layer-bg {
    z-index: $z-background;
    background: #e3d7c5;
  }

  .layer-smoke {
    @include parallax-layer($z-layers, 0.6, 0, -10vh);
    width: 140%;
    height: 100%;
    left: -40%;
  }

  .layer-ground {
    @include parallax-layer($z-layers, 0.6, 0, 10vh);
  }

  .layer-squeezer {
    @include parallax-layer($z-layers, 0, -2vw, -2vh);
    scale: 0.5;
  }

  .layer-barrel {
    @include parallax-layer($z-layers, 0, 0, 0);
  }

  .layer-pipe-1,
  .layer-pipe-2,
  .layer-pipe-4,
  .layer-pipe-5,
  .layer-pipe-7 {
    @include parallax-layer($z-layers, 0, 0, -5vh);
  }

  .layer-pipe-6 {
    opacity: 0;
    z-index: $z-layers;
    left: -7%;
    top: 7%;
    scale: 0.2;
    width: 50%;
  }

  .layer-left-hand {
    opacity: 0;
    z-index: $z-layers;
    left: -40%;
    top: 10%;
    scale: 0.2;
  }

  .layer-pipe-3 {
    opacity: 0;
    z-index: $z-layers;
    left: 2%;
    top: 7%;
    scale: 0.2;
    width: 50%;
  }

  .layer-right-hand {
    opacity: 0;
    z-index: $z-layers;
    left: -16%;
    top: 10%;
    scale: 0.2;
  }

  .layer-plant {
    @include parallax-layer($z-layers, 0, 0, 0);
    scale: 0.1;
    left: -40%;
    top: -6%;
  }

  .layer-sign {
    @include parallax-layer($z-layers, 0, 0, 0);
    scale: 0.1;
    left: -39%;
    top: -17%;
  }

  .layer-text {
    @include parallax-layer($z-layers, 0, 0, 3vh);
    text-align: right;

    color: $primary-text;
    font-family: "El Messiri";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;

    > div:first-child {
      margin-top: 6%;
    }
    > div {
      margin-right: 6%;
    }
  }
}
