// Scene 5 styles
@use "variables" as *;
@use "mixins" as *;

.scene8 {
  @include scene-base;

  .layer-bg {
    z-index: $z-background;
    background: #a3b6a7;
  }

  .layer-smoke {
    @include parallax-layer($z-layers, 0.6, 0, -10vh);
    width: 140%;
    height: 100%;
    left: -40%;
  }

  .layer-ground {
    @include parallax-layer($z-layers, 0.6, 0, 10vh);
  }

  .layer-lion {
    @include parallax-layer($z-layers, 1, -60vw, 50vh);
  }

  .layer-lion-open {
    @include parallax-layer($z-layers, 0, 0, 0);
  }

  .layer-tooth-1-container {
    @include parallax-layer($z-layers, 1, 0, 0);
    width: 1.5%;
    height: 4.5%;
    left: 47.7%;
    top: 59%;
  }

  .layer-tooth-1 {
    @include parallax-layer($z-layers, 0, 0, 0);
    rotate: 26deg;
  }

  .layer-tooth-2-container {
    @include parallax-layer($z-layers, 1, 0, 0);
    width: 2.5%;
    height: 7%;
    left: 47.7%;
    top: 59%;
    rotate: 5deg;
  }

  .layer-tooth-2 {
    @include parallax-layer($z-layers, 0, 0, 0);
    rotate: -40deg;
  }

  .layer-tooth-3-container {
    @include parallax-layer($z-layers, 1, 0, 0);
    width: 3%;
    height: 7%;
    left: 47.7%;
    top: 59%;
    rotate: 53deg;
  }

  .layer-tooth-3 {
    @include parallax-layer($z-layers, 0, 0, 0);
    rotate: -40deg;
  }

  .layer-tooth-4-container {
    @include parallax-layer($z-layers, 1, 0, 0);
    width: 1.5%;
    height: 4.5%;
    left: 48.7%;
    top: 59%;
    rotate: 53deg;
  }

  .layer-tooth-4 {
    @include parallax-layer($z-layers, 0, 0, 0);
    rotate: -40deg;
  }

  .layer-tooth-path {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: auto;
  }

  .tooth-path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: auto;
  }

  .audio-container {
    position: absolute;
    z-index: 100;
    opacity: 0;
    width: fit-content;
    height: 88px;

    .audio-player {
      height: 100%;
      width: 100%;

      &__name {
        color: $burnt-orange;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
      }

      &__title {
        color: $mud-brown;
        font-size: 16px;
        line-height: 19px;
      }

      &__avatar {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background: white;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__btn {
        width: 40px;
        height: 40px;
        min-width: 40px;
        border-radius: 50%;
        margin: 0 12px;
      }

      &__controls {
        width: auto;
        min-width: 200px;
      }

      &__time {
        color: $mud-brown;
        font-size: 16px;
        line-height: 19px;
      }

      &__progress {
        width: 128px;
      }
    }
  }

  .audio-container-1 {
    left: 51%;
    top: 30.5%;
  }

  .audio-container-2 {
    left: 57.8%;
    top: 19.4%;
  }

  .audio-container-3 {
    left: 21.7%;
    top: 19.4%;
  }

  .audio-container-4 {
    left: 58.2%;
    top: 52.7%;
  }

  .audio-container-5 {
    left: 64.8%;
    top: 63.8%;
  }

  .audio-container-6 {
    left: 64.9%;
    top: 41.6%;
  }

  .audio-container-7 {
    left: 43.9%;
    top: 8.2%;
  }
}
