// Scene 2 styles
@use "variables" as *;
@use "mixins" as *;

.scene3 {
  @include scene-base;

  // Parallax layer initial states
  .layer-bg {
    z-index: $z-background;
    background: #a3b6a7;
  }

  .layer-land {
    @include parallax-layer($z-layers, 1, 0, 0);
  }

  .layer-smoke {
    @include parallax-layer($z-layers, 1, 0, 0);
    width: 140%;
    height: 100%;
    left: -40%;
  }

  .layer-truck {
    @include parallax-layer($z-layers, 1, -80%, 0);
    scale: 0.9;
    .layer-truck-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  .layer-text-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    width: 63%;
    height: 80%;
    scale: 0.7;
    transform: rotate(-4deg);

    div {
      direction: rtl;
    }

    .layer-text-container-item {
      opacity: 0;
      color: #fff;

      text-align: right;
      font-family: "El Messiri";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;

      .item-secondary {
        color: $secondary-text;
        text-align: right;
        font-family: "El Messiri";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
      }
    }
  }

  .layer-text-bottom {
    @include parallax-layer($z-layers, 0, 0, 0);
    color: $primary-text;
    text-align: right;
    font-family: $font-tajawal;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;

    > div {
      width: 100%;
      position: absolute;
      bottom: 4%;
      text-align: center;
    }
  }
}

.scene3-1 {
  @include scene-base;

  .layer-text {
    @include parallax-layer($z-layers, 1, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      margin-top: 10%;
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      color: $secondary-text;
      font-family: "El Messiri";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;

      .text-1,
      .text-2,
      .chart {
        opacity: 0;
        transform: translateY(20%);
      }

      .text-2 {
        color: $tertiary-text;
        text-align: right;
        font-family: $font-tajawal;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        span {
          padding-top: 10px;
        }
        img {
          width: 25px;
          height: 15px;
        }
      }

      .chart {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 46%;
        }
      }

      span {
        color: #d1a82c;
      }
    }
  }
}

.scene3-2 {
  @include scene-base;

  .layer-content {
    @include parallax-layer($z-layers, 1, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    .content-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 80px;
      width: 85%;
      opacity: 0.5;
      transform: translateY(50px);

      .chart-container {
        flex: 0 0 auto;
        opacity: 0.5;
        transform: translateY(50px);

        img {
          width: 400px;
          height: auto;
        }
      }

      .text-container {
        flex: 1;
        opacity: 0.5;
        transform: translateY(50px);
        max-width: 40%;

        p {
          color: $primary-text;
          text-align: right;
          font-family: $font-el-messiri;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 56px;
          direction: rtl;

          span {
            color: $tertiary-text;
          }
        }
      }
    }
  }
}

.scene3-3 {
  @include scene-base;

  .layer-bg {
    @include parallax-layer($z-layers, 0.1, 0, 0);
    background-image: url("../assets/images/latsheh.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
  }

  .layer-video {
    @include parallax-layer($z-layers, 0.6, 0, 10vh);
    display: flex;
    align-items: center;
    justify-content: center;

    .video-container {
      margin-top: 20px;
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      video {
        width: 70%;
        height: 100%;
        position: relative;
        z-index: 1;
      }

      .video-frame {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 85%;
        height: 112%;
        transform: translate(-51%, -52%);
        pointer-events: none;
      }
    }
  }
}

.scene3-4 {
  @include scene-base;

  .layer-text {
    @include parallax-layer($z-layers, 0, 0, 10vh);
    display: flex;
    justify-content: center;

    > div {
      color: $secondary-text;
      width: 67%;
      margin-top: 5%;
      text-align: center;

      font-family: "El Messiri";
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 62px;

      span {
        color: $tertiary-text;
      }
    }
  }

  .layer-box {
    @include parallax-layer($z-layers, 1, 0, 100vh);
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .trash-can-icon {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }

  .layer-line {
    @include parallax-layer($z-layers, 1, 0, 100vh);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 80%;
    overflow: hidden;

    .h-line {
      position: absolute;
      width: 90%;
      clip-path: inset(0 100% 0 0);
    }
  }

  .layer-circle-0 {
    @include parallax-layer($z-layers, 1, 35vw, 0);
  }

  .layer-circle-1 {
    @include parallax-layer($z-layers, 1, 25vw, 10vh);
  }

  .layer-circle-2 {
    @include parallax-layer($z-layers, 1, 12vw, 5vh);
  }

  .layer-circle-3 {
    @include parallax-layer($z-layers, 1, 10vw, 5vh);
  }

  .layer-circle-4 {
    @include parallax-layer($z-layers, 1, 1vw, -5vh);
  }

  .layer-circle-5 {
    @include parallax-layer($z-layers, 1, -15vw, 0);
  }

  .layer-circle-6 {
    @include parallax-layer($z-layers, 1, -30vw, -5vh);
  }

  .layer-circle-7 {
    @include parallax-layer($z-layers, 1, -35vw, -10vh);
  }

  .layer-circle {
    &:nth-child(even) {
      .layer-circle-text {
        transform: translateX(-25%) translateY(650%);
      }

      .v-line {
        top: 70%;
      }
    }

    &:nth-child(odd) {
      .layer-circle-text {
        transform: translateX(-24%) translateY(-337%);
      }

      .v-line {
        top: -70%;
      }
    }

    .v-line {
      position: absolute;
      left: 1%;
      scale: 0.5;
      width: 100%;
      opacity: 0;
    }

    .circle {
      z-index: 2;
      position: relative;
    }

    .layer-circle-text {
      color: $primary-text;
      text-align: center;
      font-family: "Tajawal";
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
      position: absolute;
      width: 200%;
      opacity: 0;
    }
  }
}
